<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:与当前XML文件对应的JAVA接口 -->
<mapper namespace="cn.tedu.store.mapper.DistrictMapper">
	<!-- id:该节点对应的抽象方法的名称 parameterType:对应的抽象方法的参数的数据类型 
	useGeneratedKeys 表示需要获取自动生成的主健（通常都是自动递增的id） 
		keyProperty表示获取了主键的值（id的值） -->
		<!-- 获取省/市/区的详情 -->
		<!-- List<District> getList(String parent) -->
	<select id="getList" resultType="cn.tedu.store.entity.District">
	select id,parent,code,name from t_dict_district where parent=#{parent}
	
	</select>
	<!-- 获取某个省/市/区的详细信息 -->
	<!-- District getInfo(String code) -->
	<select id="getInfo" resultType="cn.tedu.store.entity.District">
	select id,parent,code,name from t_dict_district where code=#{code}
	
	</select>
</mapper>